.background {
    /* background: black; */
    background: url("./assets/netflix\ background\ 2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.8);
    /* filter: brightness(70%);  */
}

.sign-in {
    background-color: #e50914;
    color: white;
    line-height: normal;
    padding: 7px 17px;
    font-weight: 400;
    font-size: 1rem;
    float: right;
    border-radius: 3px;
    margin-top: 0.5rem;
    position: relative;
    right: 70px;
    top: -75px;
}

a {
    color: white;
}

.big-text {
    font-size: 50px;
    font-family: "Netflix Sans", Helvetica, sans-serif;
    list-style: none;
    text-align: center;
    font-weight: bold;
    color: white;
}

.smaller-text {
    font-size: 26px;
    font-family: "Netflix Sans", Helvetica, sans-serif;
    list-style: none;
    text-align: center;
    font-weight: bold;
    color: white;
}

.smallest-text {
    font-size: 20px;
    font-family: "Netflix Sans", Helvetica, sans-serif;
    list-style: none;
    text-align: center;
    font-weight: bold;
    color: white;
}

.tv-stand {
    background-color: rgba(0, 0, 0, 0.8);
    background: url("./assets/device-pile.png");
}

.email {
    position: relative;
    left: 390px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
  }
  
  .grid-container > div {
    background-color: black;
    /* text-align: center; */
    padding: 45px 45px;
    font-size: 30px;
    position: relative;
    bottom: 125px;
  }

p {
    color: white;
    /* text-align: center; */
    font-size: 26px;
    font-family: "Netflix Sans", Helvetica, sans-serif;
    /* text-align: center; */
    font-weight: bold;
    color: white;
    padding: 28px;
}

h1 {
    color: white;
    /* text-align: center; */
    font-size: 50px;
    font-family: "Netflix Sans", Helvetica, sans-serif;
    padding: 28px;
}

